name: build-script

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
    - uses: actions/setup-node@v5.0.0
      with:
         node-version: '22.22.0'
         cache: 'yarn'
    - name: use yarn
      run: |
       yarn install
       yarn build